<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773717397567-ak4md4ohgnrpil6q29c14dffiknt0o7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773717397567-ak4md4ohgnrpil6q29c14dffiknt0o7u</string>
	<key>API_KEY</key>
	<string>AIzaSyCv59BzPgZPf1Sc5D62mwD3tDFKeZKIBVk</string>
	<key>GCM_SENDER_ID</key>
	<string>773717397567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esme3s.geoLearn</string>
	<key>PROJECT_ID</key>
	<string>geolearn-4ac7d</string>
	<key>STORAGE_BUCKET</key>
	<string>geolearn-4ac7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773717397567:ios:aae185dcc803979b71a88a</string>
</dict>
</plist>